<div class="content">
	<h1 class="title">A Database of Fire and Ice</h1>
	<p>This database models the <a href="http://gameofthrones.wikia.com/wiki/Game_of_Thrones_Wiki">Game of Thrones</a> universe with tables representing the following entities:</p>
	<ul>
		<li><a href="/characters">Characters</a></li>
		<li><a href="/houses">Houses</a></li>
		<li><a href="/locations">Locations</a></li>
		<li><a href="/appearances">Appearances</a></li>
		<li><a href="/episodes">Episodes</a></li>
	</ul>
	<p>The database supports all <a href="https://en.wikipedia.org/wiki/Create,_read,_update_and_delete">CRUD</a> functionality: creating, reading, updating, and deleting data. In some cases it may be necessary to create one entity before adding another. For example, a character must be created before adding an appearance featuring that character.</p>
	<p>This project was completed by <a href="https://github.com/chidonguyen">Chido Nguyen</a> and <a href="https://github.com/alxmjo">Alex Johnson</a>.</p>
</div>
